* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
iframe {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.map-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 125px;
    height: 100%;
    text-decoration: none;
}

.map-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .4;
    transition: opacity 0.3s ease-in-out;
}

.map-button:hover::before {
    opacity: 1;
    cursor: pointer;
}
.paris-button::before {
    background-image: url("map_icons/paris.webp");
}
.sapienza-button::before {
    background-image: url("map_icons/sapienza.webp");
}
.marrakesh-button::before {
    background-image: url("map_icons/marrakesh.webp");
}
.bangkok-button::before {
    background-image: url("map_icons/bangkok.webp");
}
.colorado-button::before {
    background-image: url("map_icons/colorado.webp");
}
.hokkaido-button::before {
    background-image: url("map_icons/hokkaido.webp");
}
.button-text {
    position: relative;
    z-index: 1; /* Ensure the text is above the pseudo-element */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}
.button-text:hover {
    /* color: #ff0000; */
    opacity: .5;
    transition: opacity 0.3s ease-in-out;
}
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display:flex;
    align-items: center;
    list-style: none;
    background-color: #000;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    width:125px;
    text-decoration: none;
    height: 100%;
    transition: all .3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius:4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #9518fc;
    transition: all .3s ease;
}

/* What to do if width is less than max-width */
@media screen and (max-width:960px) { 
/* navbar__container is main container */
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height:80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
/* navbar__menu is list of items with navbar__item class */
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity: 1;
        transition: all 0.5s ease; 
        z-index: -1;
    }

    /* Design of navbar menu if it's active, set by JS */
    .navbar__menu.active {
        background: #131313;
        top:0%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    /* Webpage Title */
    #navbar__logo{
        padding-left: 25px;
    }

    /* appearance and cursor interaction of bars in menu logo */
    .navbar__toggle .bar{
        width:25px;
        height:3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    /* width of each button when in mobile menu */
    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    } 

    /* appearance of navbar__btn class (sign-up button) */
    .navbar__btn{
        padding-bottom: 2rem;
    }

    /* appearance of button class (sign-up link) */
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }


    /* location of menu bar */
    #mobile-menu {
        position: absolute;
        top:20%;
        right: 5%;
        transform: translate(5%,20%)
    }

    /* smooth transformation of menu bar */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
} 
    
.overlayImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7000;
  }

.map-holder {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust height as needed */
}
.overlay-graphic {
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    pointer-events: none;

}